:root {
   --maincolor: #f9f4ed;
   --textcolor: #b9a68c;
   --maindark: #cdb38d;
}

@font-face {
   font-family: main;
   src: url(../../fonts/Quattrocento.woff);
}
@font-face {
   font-family: heading;
   src: url(../../fonts/Americana.woff);
}

* {
   box-sizing: border-box;
}

body {
   background-color: var(--maincolor);
   margin: 0;
   font-family: main;
}

h2 {
   font-family: heading;
}

.header {
   width: 100%;
   height: 2rem;
   background-color: var(--maindark);
   color: white;
   margin-top: 0rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

nav {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

.logo {
   width: 6rem;
   margin-left: 5rem;
}

.logo-container {
   margin-top: 1rem;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: aqua; */
}

.content-container {
   display: flex;
   justify-content: center;
   align-items: center; 
   flex-direction: column;
}

.h1-container {
   color: var(--textcolor);
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: flex-start; 
   flex-direction: column;
   max-width: 1100px;
}

.item-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center; 
   flex-direction: column;
   margin-top: 1em;
}

.item-img {
   height: 20rem;
   border-radius: 5px;
}

.info-button {
   width: 10rem;
   background: #f6f0e7;
   border-color: var(--maindark);
   border-radius: 10px;
   margin: 1rem;
   font-size: .95em;
   border: 2px solid var(--maindark);
   color: var(--maindark);
   font-weight: 300;
   cursor: pointer;
}

footer {
   background-color: var(--maindark);
   color: var(--maincolor);
   display: flex;
   justify-content: center;
   align-items: flex-start; 
   flex-direction: column;
}

.zayt {
   color: white;
   margin: 1.8rem;
   font-size: 1.2rem;
}

.contact {
   margin: 1.8rem;
}

 ion-icon {
   color: var(--maindark);
 }

 .icon-menu {
   margin-right: auto;
   padding: .5rem;
 }

 .right-nav {
   margin-left: auto;
   padding: .5rem;
 }

 .icon-bag, .icon-search, .icon-dark {
   padding: .4rem;
 }

 .items {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(4, 1fr);
   grid-gap: 20px;
   max-width: 1100px;
 }

 .accordion {
  background-color: var(--maindark);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 240px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #b39d7c;
}

.accordion:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 240px;
}

.footer {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}

.bottom-info {
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center; 
   flex-direction: column;
   max-width: 1100px;
}

.info-button {
   display: none;
   visibility: hidden;
}

h3 {
   color: var(--maindark);
}

.argan-text {
   color: var(--maindark);
}

.argan-image {
   width: 20rem;
}

.info-button-bottom {
   width: 10rem;
   background: #f6f0e7;
   border-color: var(--maindark);
   border-radius: 10px;
   font-size: .95em;
   border: 2px solid var(--maindark);
   color: var(--maindark);
   font-weight: 300;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center; 
   flex-direction: column;
   text-decoration: none;
}

@media only screen and (min-width: 750px) {
   .footer {
      flex-direction: row;
   }
 }

 @media only screen and (min-width: 600px) {
   .items {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    .info-button {
      display: block;
      visibility: visible;
   }

   .accordion {
      display: none;
      visibility: hidden;
   }
 }

 @media only screen and (min-width: 850px) {
   .items {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    .bottom-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
    "infoimg h3text"
    "infoimg infotxt"
    "infoimg infob";
    max-width: 900px;
   }

   .info-button-bottom{
      grid-area: infob;
   }
   
   .argan-image {
      grid-area: infoimg;
      width: 25rem;
   }

   .argan-text {
      grid-area: infotxt;
   }

   h3 {
      grid-area: h3text;
   }
 }

 @media only screen and (min-width: 1250px) {
   .items {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
      max-width: 1100px;
    }

    .item-img {
      height: auto;
      max-width: 100%;
      border-radius: 5px;
   }
 }

 