:root {
   --maincolor: #f9f4ed;
   --textcolor: #b9a68c;
   --maindark: #cdb38d;
}

body {
   background-color: var(--maincolor);
}

.logo {
   width: 6rem;
}

.logo-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: aqua; */
}

.h1-container {
   color: var(--textcolor);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center; 
}

.item-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center; 
   flex-direction: column;
   margin-top: 1em;
}

.item-img {
   height: 20rem;
}

.info-button {
   width: 10rem;
   background: transparent;
   border-color: var(--maindark);
   border-radius: 10px;
}